
@{
    ViewData["Title"] = "La recommandation des offres 3G";
    Layout = "~/Views/Shared/admin/_LayoutAdmin.cshtml";
}

<div class="jumbotron" style="background-color:white;margin-top: 0rem;">
    <div class="container">
        <h1 class="display-5">@ViewData["Title"]</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    </div>
</div>
<hr />
<br />
<div class="row">
    <div class="col-md-2">
        <p></p>
    </div>

    <div class="col-md-3">
        <div class="card mb-4 box-shadow" style="background-color: #f8f9fa;width: 320px;">
            <div class="card-header" style="        background-color: #ac0035;
        color: white;">
                Performances des offres 3G
            </div>
            <div class="ClsAutoFit">
                <center><img class="card-img-top" src="/img/reco/Perfermances_des_offres3g.png" alt="Thumbnail [100%x225]" style="height: 225px; width: 97%; display: block;" data-holder-rendered="true"></center>
            </div>
            <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a role="button" asp-controller="Home" asp-action="perfo_offre" class="btn btn-sm btn-outline-secondary" style="color: #8f0000; border-color: #8f0000;">View</a>
                        <button type="button" class="btn btn-sm btn-outline-secondary" style="color: #8f0000; border-color: #8f0000;">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-3">
        <div class="card mb-4 box-shadow" style="background-color: #f8f9fa;width: 320px;">
            <div class="card-header" style="        background-color: #ac0035;
        color: white;">
                Suivie des offres
            </div>
            <div class="ClsAutoFit">
                <center> <img class="card-img-top" src="/img/reco/Dash suivie des offres.png" alt="Thumbnail [100%x225]" style="height: 225px; width: 97%; display: block;" data-holder-rendered="true"></center>
            </div>
            <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a role="button" asp-controller="Home" asp-action="suivi_offre_3g"  class="btn btn-sm btn-outline-secondary" style="color: #8f0000; border-color: #8f0000;">View</a>
                        <a role="button"  class="btn btn-sm btn-outline-secondary" style="color: #8f0000; border-color: #8f0000;">Edit</a>
                    </div>
                    <small class="text-muted">9 mins</small>
                </div>
            </div>
        </div>
    </div>




    <div class="col-md-3">
        <div class="card mb-4 box-shadow" style="background-color: #f8f9fa;width: 320px;">
            <div class="card-header" style="        background-color: #ac0035;
        color: white;">
                Comparaison de recommendation
            </div>
            <div class="ClsAutoFit">
                <center> <img class="card-img-top" src="/img/reco/comparaison.png" alt="Thumbnail [100%x225]" style="height: 225px; width: 97%; display: block;" data-holder-rendered="true"></center>
            </div>
            <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a role="button" class="btn btn-sm btn-outline-secondary" style="color: #8f0000; border-color: #8f0000;">View</a>
                        <button type="button" class="btn btn-sm btn-outline-secondary" style="color: #8f0000; border-color: #8f0000;">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-2">
        <p></p>
    </div>
</div>


