
@{
    ViewData["Title"] = "Gestion des roles";
    Layout = "~/Views/Shared/admin/_LayoutAdmin.cshtml";
}

<br />
<br />

<div class="row">
    <div class="col-md-10 offset-md-3">
        <div class="col-md-8">
            <!-- jquery validation -->
            <br />
            <br />
            <div class="card card-primary">

                <div class="card-body">
                    <center>

                        @RenderBody()

                    </center>
                </div>
            </div>
        </div>
    </div>
</div>





