@using ooredooApplicationForWeb.ViewModels;
@model CreateRoleViewModel

@{
    ViewBag.Title = "Create New Role";
    Layout = "~/Views/Administration/_RoleLayout.cshtml";
}

<h1>La gestion des rôles </h1>
<div class="card-body">
  

    <form asp-action="CreateRole" method="post" class="mt-3">
        <div asp-validation-summary="All" class="text-danger">
        </div>
        <center>
            <div class="form-group row">
                <label asp-for="RoleName" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-6">
                    <input asp-for="RoleName" class="form-control" placeholder="Name">
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                </div>
            </div>
        </center>
        <center>
            <div class="form-group row">

                <div class="col-sm-10">
                    <button type="submit" class="btn btn-outline-danger" style="width:50%">
                        Créer le rôle
                    </button>
                </div>

            </div>
        </center>
    </form>
</div>